@page "/categorias/edit"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Editar Categoria</PageTitle>

<h1>Editar Categoria</h1>
<hr/>
@if (Categoria is null) {
    <p>
        <em>A carregar...</em>
    </p>
} else {
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Categoria" OnValidSubmit="UpdateCategoria" FormName="edit">
                <DataAnnotationsValidator/>
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Categoria.Id" value="@Categoria.Id"/>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Categoria.Nome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Categoria.Nome" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="ordem" class="form-label">Ordem:</label>
                    <InputNumber id="ordem" @bind-Value="Categoria.Ordem" class="form-control"/>
                    <ValidationMessage For="() => Categoria.Ordem" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="urlimagem" class="form-label">URL Imagem:</label>
                    <InputText id="urlimagem" @bind-Value="Categoria.UrlImagem" class="form-control"/>
                    <ValidationMessage For="() => Categoria.UrlImagem" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputFile id="imagem" OnChange="OnImageChange" class="form-control" accept=".png, .jpg, .jpeg"/>
                    @if (previewUrl is not null) {
                        <img src="@previewUrl" style="max-width: 200px; max-height: 200px; margin-top: 10px;"/>
                    } else {
                        if (Categoria.Imagem is not null && Categoria.Imagem.Length > 0) {
                            <img src="@($"data:image/png;base64, {Convert.ToBase64String(Categoria.Imagem)}")" alt="@Categoria.Nome" style="max-width: 200px; max-height: 200px; margin-top: 10px"/>
                        } else {
                            <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 200px; max-height: 200px; margin-top: 10px"/>
                        }
                    }
                    <ValidationMessage For="() => Categoria.Imagem" class="text-danger"/>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/categorias">Voltar à lista</a>
</div>

@code {
    [SupplyParameterFromQuery] private int Id { get; set; }

    [SupplyParameterFromForm] private Categoria? Categoria { get; set; }

    private string? previewUrl;

    private async Task OnImageChange(InputFileChangeEventArgs e) {
        var file = e.File;

        // Definir limite de 5MB
        var maxSize = 5 * 1024 * 1024; // 5MB

        if (file.Size > maxSize) {
            throw new Exception("Imagem muito grande. O limite é de 5MB.");
        }

        using var stream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(stream);
        Categoria!.Imagem = stream.ToArray();

        //Cria pré-visualização
        using var previewStream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(previewStream);
        var base64 = Convert.ToBase64String(previewStream.ToArray());
        previewUrl = $"data:{file.ContentType};base64,{base64}";
    }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        Categoria ??= await context.Categorias.FirstOrDefaultAsync(m => m.Id == Id);

        if (Categoria is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCategoria() {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Categoria!).State = EntityState.Modified;

        try {
            await context.SaveChangesAsync();
        } catch (DbUpdateConcurrencyException) {
            if (!CategoriaExists(Categoria!.Id)) {
                NavigationManager.NavigateTo("notfound");
            } else {
                throw;
            }
        }

        NavigationManager.NavigateTo("/categorias");
    }

    private bool CategoriaExists(int id) {
        using var context = DbFactory.CreateDbContext();
        return context.Categorias.Any(e => e.Id == id);
    }

}
