@page "/modosdisponibilizacao/create"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Criar Modo de Disponibilização</PageTitle>

<h1>Criar Modo de Disponibilização</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="ModoDisponibilizacao" OnValidSubmit="AddModoDisponibilizacao" FormName="create">
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="nome" class="form-label">Nome:</label>
                <InputText id="nome" @bind-Value="ModoDisponibilizacao.Nome" class="form-control" aria-required="true"/>
                <ValidationMessage For="() => ModoDisponibilizacao.Nome" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <InputText id="descricao" @bind-Value="ModoDisponibilizacao.Descricao" class="form-control"/>
                <ValidationMessage For="() => ModoDisponibilizacao.Descricao" class="text-danger"/>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/modosdisponibilizacao">Voltar à lista</a>
</div>

@code {
    [SupplyParameterFromForm] private ModoDisponibilizacao ModoDisponibilizacao { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddModoDisponibilizacao() {
        using var context = DbFactory.CreateDbContext();
        context.ModosDisponibilizacao.Add(ModoDisponibilizacao);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/modosdisponibilizacao");
    }

}
