@page "/modosdisponibilizacao/delete"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>ModoDisponibilizacao</h2>
    <hr/>
    @if (mododisponibilizacao is null) {
        <p>
            <em>Loading...</em>
        </p>
    } else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@mododisponibilizacao.Nome</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Descricao</dt>
            <dd class="col-sm-10">@mododisponibilizacao.Descricao</dd>
        </dl>
        <EditForm method="post" Model="mododisponibilizacao" OnValidSubmit="DeleteModoDisponibilizacao" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(mododisponibilizacao is null)">Delete</button> |
            <a href="/modosdisponibilizacao">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private ModoDisponibilizacao? mododisponibilizacao;

    [SupplyParameterFromQuery] private int Id { get; set; }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        mododisponibilizacao = await context.ModosDisponibilizacao.FirstOrDefaultAsync(m => m.Id == Id);

        if (mododisponibilizacao is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteModoDisponibilizacao() {
        using var context = DbFactory.CreateDbContext();
        context.ModosDisponibilizacao.Remove(mododisponibilizacao!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/modosdisponibilizacao");
    }

}
