@page "/modosdisponibilizacao/edit"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Editar Modo de Disponibilização</PageTitle>

<h1>Editar Modo de Disponibilização</h1>
<hr/>
@if (ModoDisponibilizacao is null) {
    <p>
        <em>A carregar...</em>
    </p>
} else {
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ModoDisponibilizacao" OnValidSubmit="UpdateModoDisponibilizacao" FormName="edit">
                <DataAnnotationsValidator/>
                <ValidationSummary role="alert"/>
                <input type="hidden" name="ModoDisponibilizacao.Id" value="@ModoDisponibilizacao.Id"/>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="ModoDisponibilizacao.Nome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => ModoDisponibilizacao.Nome" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <InputText id="descricao" @bind-Value="ModoDisponibilizacao.Descricao" class="form-control"/>
                    <ValidationMessage For="() => ModoDisponibilizacao.Descricao" class="text-danger"/>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/modosdisponibilizacao">Voltar à lista</a>
</div>

@code {
    [SupplyParameterFromQuery] private int Id { get; set; }

    [SupplyParameterFromForm] private ModoDisponibilizacao? ModoDisponibilizacao { get; set; }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        ModoDisponibilizacao ??= await context.ModosDisponibilizacao.FirstOrDefaultAsync(m => m.Id == Id);

        if (ModoDisponibilizacao is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateModoDisponibilizacao() {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ModoDisponibilizacao!).State = EntityState.Modified;

        try {
            await context.SaveChangesAsync();
        } catch (DbUpdateConcurrencyException) {
            if (!ModoDisponibilizacaoExists(ModoDisponibilizacao!.Id)) {
                NavigationManager.NavigateTo("notfound");
            } else {
                throw;
            }
        }

        NavigationManager.NavigateTo("/modosdisponibilizacao");
    }

    private bool ModoDisponibilizacaoExists(int id) {
        using var context = DbFactory.CreateDbContext();
        return context.ModosDisponibilizacao.Any(e => e.Id == id);
    }

}
