@page "/modosdisponibilizacao"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyCOLL.Data.Entities
@using MyCOLL.Data.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory

<PageTitle>Modos de Disponibilização</PageTitle>

<h1>Modos de Disponibilização</h1>

<p>
    <a href="modosdisponibilizacao/create">Criar novo modo</a>
</p>

<QuickGrid Class="table" Items="context.ModosDisponibilizacao">
    <PropertyColumn Property="m => m.Nome" Title="Nome"/>
    <PropertyColumn Property="m => m.Descricao" Title="Descrição"/>

    <TemplateColumn Context="m" Title="Ações">
        <a href="@($"modosdisponibilizacao/edit?id={m.Id}")">
            <i class="bi bi-pencil-square"></i>
        </a> |
        <a href="@($"modosdisponibilizacao/details?id={m.Id}")">
            <i class="bi bi-eye-fill"></i>
        </a> |
        <a href="@($"modosdisponibilizacao/delete?id={m.Id}")">
            <i class="bi bi-trash-fill"></i>
        </a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized() {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
