@page "/tiposcolecionaveis/create"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Criar Tipo de Colecionável</PageTitle>

<h1>Criar Tipo de Colecionável</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="TipoColecionavel" OnValidSubmit="AddTipoColecionavel" FormName="create">
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="nome" class="form-label">Nome:</label>
                <InputText id="nome" @bind-Value="TipoColecionavel.Nome" class="form-control" aria-required="true"/>
                <ValidationMessage For="() => TipoColecionavel.Nome" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="ordem" class="form-label">Ordem:</label>
                <InputNumber id="ordem" @bind-Value="TipoColecionavel.Ordem" class="form-control"/>
                <ValidationMessage For="() => TipoColecionavel.Ordem" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="urlimagem" class="form-label">URL Imagem:</label>
                <InputText id="urlimagem" @bind-Value="TipoColecionavel.UrlImagem" class="form-control"/>
                <ValidationMessage For="() => TipoColecionavel.UrlImagem" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="imagem" class="form-label">Imagem:</label>
                <InputFile id="imagem" OnChange="OnImageChange" class="form-control"
                           accept=".png, .jpg, .jpeg"/>
                @if (previewUrl is not null) {
                    <img src="@previewUrl" style="max-width: 200px; max-height: 200px; margin-top: 10px;"/>
                }
                <ValidationMessage For="() => TipoColecionavel.Imagem" class="text-danger"/>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/tiposcolecionaveis">Voltar à lista</a>
</div>

@code {
    [SupplyParameterFromForm] private TipoColecionavel TipoColecionavel { get; set; } = new();

    private string? previewUrl;

    private async Task OnImageChange(InputFileChangeEventArgs e) {
        var file = e.File;

        // Definir limite de 5MB
        var maxSize = 5 * 1024 * 1024; // 5MB

        if (file.Size > maxSize) {
            throw new Exception("Imagem muito grande. O limite é de 5MB.");
        }

        using var stream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(stream); // <-- max size aqui
        TipoColecionavel.Imagem = stream.ToArray(); // so guarda os bytes

        //Cria pré-visualização
        //depois verificar a melhor forma de fazer isto
        using var previewStream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(previewStream); // <-- max size aqui
        var base64 = Convert.ToBase64String(previewStream.ToArray()); //converter para base64 a nossa imagem
        previewUrl = $"data:{file.ContentType};base64,{base64}"; //enviar com o formato que o browser entende como sendo imagem
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTipoColecionavel() {
        using var context = DbFactory.CreateDbContext();
        context.TiposColecionaveis.Add(TipoColecionavel);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tiposcolecionaveis");
    }

}
