@page "/tiposcolecionaveis/edit"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Editar Tipo de Colecionável</PageTitle>

<h1>Editar Tipo de Colecionável</h1>
<hr/>
@if (TipoColecionavel is null) {
    <p>
        <em>A carregar...</em>
    </p>
} else {
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="TipoColecionavel" OnValidSubmit="UpdateTipoColecionavel" FormName="edit">
                <DataAnnotationsValidator/>
                <ValidationSummary role="alert"/>
                <input type="hidden" name="TipoColecionavel.Id" value="@TipoColecionavel.Id"/>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="TipoColecionavel.Nome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => TipoColecionavel.Nome" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="ordem" class="form-label">Ordem:</label>
                    <InputNumber id="ordem" @bind-Value="TipoColecionavel.Ordem" class="form-control"/>
                    <ValidationMessage For="() => TipoColecionavel.Ordem" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="urlimagem" class="form-label">URL Imagem:</label>
                    <InputText id="urlimagem" @bind-Value="TipoColecionavel.UrlImagem" class="form-control"/>
                    <ValidationMessage For="() => TipoColecionavel.UrlImagem" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputFile id="imagem" OnChange="OnImageChange" class="form-control" accept=".png, .jpg, .jpeg"/>
                    @if (previewUrl is not null) {
                        <img src="@previewUrl" style="max-width: 200px; max-height: 200px; margin-top: 10px;"/>
                    } else {
                        if (TipoColecionavel.Imagem is not null && TipoColecionavel.Imagem.Length > 0) {
                            <img src="@($"data:image/png;base64, {Convert.ToBase64String(TipoColecionavel.Imagem)}")" alt="@TipoColecionavel.Nome" style="max-width: 200px; max-height: 200px; margin-top: 10px"/>
                        } else {
                            <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 200px; max-height: 200px; margin-top: 10px"/>
                        }
                    }
                    <ValidationMessage For="() => TipoColecionavel.Imagem" class="text-danger"/>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/tiposcolecionaveis">Voltar à lista</a>
</div>

@code {
    [SupplyParameterFromQuery] private int Id { get; set; }

    [SupplyParameterFromForm] private TipoColecionavel? TipoColecionavel { get; set; }

    private string? previewUrl;

    private async Task OnImageChange(InputFileChangeEventArgs e) {
        var file = e.File;

        // Definir limite de 5MB
        var maxSize = 5 * 1024 * 1024; // 5MB

        if (file.Size > maxSize) {
            throw new Exception("Imagem muito grande. O limite é de 5MB.");
        }

        using var stream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(stream);
        TipoColecionavel!.Imagem = stream.ToArray();

        //Cria pré-visualização
        using var previewStream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(previewStream);
        var base64 = Convert.ToBase64String(previewStream.ToArray());
        previewUrl = $"data:{file.ContentType};base64,{base64}";
    }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        TipoColecionavel ??= await context.TiposColecionaveis.FirstOrDefaultAsync(m => m.Id == Id);

        if (TipoColecionavel is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTipoColecionavel() {
        using var context = DbFactory.CreateDbContext();
        context.Attach(TipoColecionavel!).State = EntityState.Modified;

        try {
            await context.SaveChangesAsync();
        } catch (DbUpdateConcurrencyException) {
            if (!TipoColecionavelExists(TipoColecionavel!.Id)) {
                NavigationManager.NavigateTo("notfound");
            } else {
                throw;
            }
        }

        NavigationManager.NavigateTo("/tiposcolecionaveis");
    }

    private bool TipoColecionavelExists(int id) {
        using var context = DbFactory.CreateDbContext();
        return context.TiposColecionaveis.Any(e => e.Id == id);
    }

}
