@page "/encomendas/create"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Encomenda</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Encomenda" OnValidSubmit="AddEncomenda" FormName="create" Enhance>
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="dataencomenda" class="form-label">DataEncomenda:</label>
                <InputDate id="dataencomenda" @bind-Value="Encomenda.DataEncomenda" class="form-control"/>
                <ValidationMessage For="() => Encomenda.DataEncomenda" class="text-danger"/>
            </div>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="estado" class="form-label">Estado:</label>
                <InputText id="estado" @bind-Value="Encomenda.Estado" class="form-control" aria-required="true"/>
                <ValidationMessage For="() => Encomenda.Estado" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="total" class="form-label">Total:</label>
                <InputNumber id="total" @bind-Value="Encomenda.Total" class="form-control"/>
                <ValidationMessage For="() => Encomenda.Total" class="text-danger"/>
            </div>
            <div class="mb-3">
                <label for="observacoes" class="form-label">Observacoes:</label>
                <InputText id="observacoes" @bind-Value="Encomenda.Observacoes" class="form-control"/>
                <ValidationMessage For="() => Encomenda.Observacoes" class="text-danger"/>
            </div>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="clienteid" class="form-label">ClienteId:</label>
                <InputText id="clienteid" @bind-Value="Encomenda.ClienteId" class="form-control" aria-required="true"/>
                <ValidationMessage For="() => Encomenda.ClienteId" class="text-danger"/>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/encomendas">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm] private Encomenda Encomenda { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddEncomenda() {
        using var context = DbFactory.CreateDbContext();
        context.Encomendas.Add(Encomenda);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/encomendas");
    }

}
