@page "/Account/Manage/ResetAuthenticator"

@using Microsoft.AspNetCore.Identity
@using MyCOLL.Data.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ResetAuthenticator> Logger

<PageTitle>Eliminar chave autenticadora</PageTitle>

<StatusMessage/>
<h3>Eliminar chave autenticadora</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se eliminar a chave autenticadora, a app autenticadora não irá funcionar até que reconfigure-a.</strong>
    </p>
    <p>
        Este processo desactiva a 2FA até que verifique a app autenticadora.
        Se não completar a configuração da app autenticadora, pode perder acesso à sua conta.
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken/>
        <button class="btn btn-danger" type="submit">Eliminar chave autenticadora</button>
    </form>
</div>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync() {
        var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' has reset their authentication app key.", userId);

        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "A chave autenticadora foi eliminada, irá precisar de configurar a app autenticadora com a nova chave.",
            HttpContext);
    }

}
