@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="Account/Manage">
                        @context.User.Identity?.Name
                    </a>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value=""/>
                        <button type="submit" class="btn btn-sm">
                            Logout
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Register">Registar</a>
                    <a href="Account/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ocorreu um erro inesperado.
    <a href="" class="reload">Recarregar</a>
    <a class="dismiss">🗙</a>
</div>
